.contacts {
  display: flex;
  align-items: center;
  justify-content: center;

  &__phone {
    font-size: 16px;
    line-height: 19px;
    color: $mainColor;
    margin-right: 40px;
    transition: color 0.3s ease-in-out;
    
      &:hover {
        color: $lime-green;
      }
  }
  
  &__btn {
    border: 2px solid $lime-green;
    border-radius: 40px;
    padding: 13px 26px;
    line-height: 16px;
    color: $mainColor;
    transition-property: background-color, border-color, color;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;

    &:hover {
      background-color: $lime-green;
      border-color: $bg-color;
      color: $bg-color;
    }
  }
}

