.header {
  &__nav {
    background-color: $light-gray;
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 16px;
    max-width: 100%;
    display: flex;

    @include tablet {
      padding-top: 14px;
      padding-bottom: 13px;
    }
    
    &-list {
      display: flex;
    }

    &-item:not(:last-child){
      margin-right: 30px;

      @include mobile {
        margin-right: 10px;
      }
    }

    &-link {
      line-height: 16px;
      color: $secondColor;
      transition: color 0.3s ease-in-out;

      @include tablet {
        font-size: 12px;
      }

      &:hover {
      color: $lime-green;
      }
    }
  }

  &__line {
    padding: 20px 0;
    border-bottom: 1px solid $light-gray;

    @include tablet {
      padding: 15px 0;
    }

    &-container {
      display: flex;
      justify-content: space-between;
    }

    &-company {
      display: flex;
      align-items: center;
    }

    &-logo {
      margin-right: 20px;

      @include tablet {
        margin-right: 10px;
        width: 50px;
        height: 50px;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.1em;
      color: $lime-green;

      @include tablet {
        font-size: 22px;
      }
    }
  }
}




