.hero {
  background-color: $lime-green;
  background-position: center;
  background-size: cover;
  background-image: url('/src/img/bg.png');
  min-height: 604px;
  // margin-bottom: 80px;

  &__content {
    height: 100%;
    color: $bg-color;
    display: flex;
    flex-direction: column;
    max-width: 308px;
    padding-top: 192px;
    padding-bottom: 193px;
    
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 50px;
    
  }

  &__text {
    line-height: 20px;
    margin-bottom: 50px;
  }
}

