.info {
  padding: 25px 0;
  font-size: 12px;
  line-height: 14px;
  color: #828282;

  @include laptop {
    font-size: 11px;
    padding: 15px 0;
  }

  @include laptop {
    font-size: 8px;
    padding: 10px 0;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    display: inline-block;
  }

  &__confidential {
    transition: color 0.3s ease-in-out;
    
      &:hover {
        color: $lime-green;
      }
  }
}

