.navigation {
  margin-bottom: 30px;

  &__list {
    display: flex;
    justify-content: center;
  }
  
  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    font-size: 16px;
    line-height: 19px;
    color: $mainColor;
    transition: color 0.3s ease-in-out;
    
      &:hover {
        color: $lime-green;
      }
  }
}


