.service {
  background-color: $light-gray;
  padding-bottom: 132px;

  &__sector {
    display: flex;
    gap: 30px;
  }
  
  &__block {
    flex-basis: 50%;
    background-color: $lime-green;
    display: flex;
    padding: 35px 45px 40px 35px;

    &_left {
      gap: 65px;
      align-items: center;
      justify-content: space-between;
    }

    &_right {
      flex-direction: column;
      gap: 25px;
      align-items: flex-start;
      
    }

  }

  &__mail {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: $bg-color;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: $bg-color;
  }

  &__input {
    background: $bg-color;
    border-radius: 30px;
    padding: 9px 25px;
    border: none;
    line-height: 16px;
    color: #C4C4C4;

    &:focus {
      outline-color: #66C09D;
    }
  }

  &__icon {
    width: 140px;
  }
}


