.service {
  background-color: $light-gray;
  padding-bottom: 132px;

  @include laptop {
    padding-bottom: 102px;
  }

  &__sector {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    @include laptop {
      gap: 25px;
    }
  }
  
  &__block {
    flex-basis: 50%;
    background-color: $lime-green;
    display: flex;
    padding: 35px 45px 40px 35px;

    @include laptop {
    padding: 30px 40px 35px 30px;
    }

    @include tablet {
      flex-basis: 100%;
    }

    &_left {
      // gap: 65px;
      align-items: center;
      justify-content: space-between;

      @include laptop {
        flex-basis: 60%;
      }
      @include tablet {
        flex-basis: 100%;
      }
    }

    &_right {
      flex-direction: column;
      gap: 25px;
      align-items: flex-start;

      @include laptop {
        gap: 15px;
        flex-basis: 40%;
      }
      @include tablet {
        gap: 25px;
        flex-basis: 100%;
        align-items: center;
      }
      
    }

  }

  &__mail {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include laptop {
      gap: 15px;
    }
    @include tablet {
      gap: 25px;
    }
    
    &-link {
      width: 140px;
      color: $bg-color;
      transition: color 0.3s ease-in-out;
      
      @include laptop {
        width: 80px;
      }
      @include tablet {
        width: 120px;
      }
      
      &:hover {
        color: $mainColor;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: $bg-color;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: $bg-color;
  }

  &__input {
    background: $bg-color;
    border-radius: 30px;
    padding: 9px 25px;
    border: none;
    line-height: 16px;
    color: #C4C4C4;

    &:focus {
      outline-color: #66C09D;
    }
  }

  &__icon {
    width: 140px;

    @include laptop {
        width: 80px;
      }
  }
}


